<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body class="container">

<header>
  <%- include('header'); -%>
</header>

<nav>
  <%- include('navbar'); -%>
</nav>

<main>
    <div class="jumbotron">
        <h1 class="title">Welcome to EJS Pages</h1>
        <h2>Just when you thought it couldn't get in any tougher, it did with EJS.</h2>
        <p>What is the "E" for? "Embedded?" Could be. How about "Effective," "Elegant," or just "Easy"? EJS is a simple templating language that lets you generate HTML markup with plain JavaScript. No religiousness about how to organize things. No reinvention of iteration and control-flow. It's just plain JavaScript.</p>
    </div>
</main>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">EJS</h5>
              <p class="card-text">It's easy to install EJS with NPM.<br>
                $ npm install ejs</p><br>
              <a href="#" class="btn btn-primary">Fake Button</a>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">CLI</h5>
              <p class="card-text">Feed it a template file and a data file, and specify an output file.</p><br>
              <a href="#" class="btn btn-primary">Fake Button</a>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Browser support</h5>
              <p class="card-text">Download a browser build from the latest release, and use it in a script tag.</p>
              <a href="#" class="btn btn-primary">Fake Button</a>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div role="main" class="container">

    <br/><br/>

    <h2><%= message %></h2>

    <form method="post" action="/process">
        <div class="form-group">
          <label for="txtName">Name:</label>

                        <!-- txtName" name="txtName"/> -->

        </div>

        <div class="form-group">
            <!-- CSRF token -->     
            <input name="csrf" value="<%= csrfToken %>" type="hidden">
            <button type="button" class="btn btn-primary">Primary</button>
        </div>

    </form>

</div>

<footer>
    <%- include('footer') -%>
</footer>

<script>
    // <%- include('scripts') -%>
</script>

</body>
</html>