<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title%></title>
</head>
<body class="container">

<header>
    <%- include('header') -%>
</header>

<nav>
    <%- include('navbar') -%>
</nav>

<main>
    <div class="jumbotron">
        <h1 class="title">You Want Lists? You Got Lists!</h1>
        <h2>Best Practices for Employee Personnel Files</h2>
    </div>
</main>


<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Employee ID</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Doug</td>
        <td>Giblets</td>
        <td>A-4369</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Mark</td>
        <td>Thornton</td>
        <td>A-8703</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Casey</td>
        <td>Anderson</td>
        <td>B-4489</td>
      </tr>
    </tbody>
  </table>

<footer>
    <%- include('footer') -%>
</footer>

<script>
    // <%- include('scripts') -%>
</script>

</body>
</html>